// Your custom SCSS should be written here...

.slide {
  overflow: auto;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  z-index: 9999;
  -webkit-transition:box-shadow .3s ease-out;
  -moz-transition:box-shadow .3s ease-out;
  -ms-transition:box-shadow .3s ease-out;
  -o-transition:box-shadow .3s ease-out;
  transition:box-shadow .3s ease-out;

  #header {
    h1 {
      font-family: arvo;
      font-size: 2em;
      margin-top: 5px;
    }

    #nav {
      text-align: right;
        li {
          list-style: disc;
        }
        i {
          font-size: 200%;
          text-shadow: none !important;
          color: #f0f0f0;
          -webkit-transition: .2s ease-out;
          -moz-transition: .2s ease-out;
          -ms-transition: .2s ease-out;
          -o-transition: .2s ease-out;
          transition: .2s ease-out;
        }
        i:hover {
          color: #EB540A;
        }
    }

    #logo {
      cursor: pointer;
    }

  }

}

.home {

  #articles {
    margin-top: 70px;
    .circle {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      border-radius: 100px;
      background: black;
      height: 200px;
      width: 200px;
      margin: auto;
      color: white;
      cursor: pointer;
      margin-top: 20px;
        i {
          padding-top: 0.8em;
        }
    }

    .circle:hover {
      opacity: 0.6;
      -webkit-transition: .2s ease-out;
      -moz-transition: .2s ease-out;
      -ms-transition: .2s ease-out;
      -o-transition: .2s ease-out;
      transition: .2s ease-out;
    }
  /*  .circleInner {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      border-radius: 100px;
      border: 3px solid black;
      height: 150px;
      width: 150px;
      margin: auto;
    }*/
    .design {
      background-color: #eba22e;
    }
    .writing {
      background-color: #d8612d;
    }
    .projects {
      background-color: #6ec1b1;
    }

  }
}

.shaded {
  background-color: whitesmoke;
}

.yellows {
  background-color: #eba22e;
}

.reds {
  background-color: #d8612d;
}

.greens {
  background-color: #6ec1b1;
}

.navbarShadow {
  -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,.3);
  -moz-box-shadow:    0px 3px 4px rgba(0,0,0,.3);
  box-shadow:         0px 3px 4px rgba(0,0,0,.3);
}

#feature {
  z-index: 1;
  padding-top: 90px;
}

#articles {
  text-align: center;
    i {
      font-size: 7em;
    }
}

#designs {
  h2 {
    color: white;
  }
  .nivoSlider {
      margin-top: 80px;
      position:relative;
      background:url(images/loading.gif) no-repeat 50% 50%;
  }
  .nivoSlider img {
      position:absolute;
      top:0px;
      left:0px;
      display:none;
  }
  .nivoSlider a {
      border:0;
      display:block;
  }
}

#writing {
  h3,h2 {
    color: white;
  }
  p {
    color: white;
    opacity: 0.8;
  }
  a {
    color: white;
    color: inherit;
  }
  li {
    border-top: 1px dotted #f0f0f0;
  }
  li:hover {
    background-color: #f0f0f0;
    color: white;
  }
  ul {
    margin-top: 80px;
    border-bottom: 1px dotted #f0f0f0;
  }
}

.bio {
  .bioPic {
    text-align: center;
    border: 6px solid #f0f0f0;
    margin-bottom: 80px;
  }
}